

#external {
	color: #e3934d;
}

* {

    font-family: "Roboto", "Helvetica", "Arial", sans-serif
}


--

/*
.header{
	text-align: center;
}

#intro h2, #intro p{
	/* creates space between the contents of the intro section */
	/*margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	padding: 1rem;
}

#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}


#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

*/
